---
permalink: /feed/note.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Stream — note</title>
  <subtitle>Solo post di tipo note.</subtitle>
  <link href="{{ site.siteUrl }}/feed/note.xml" rel="self"/>
  <link href="{{ site.siteUrl }}/"/>
  <id>{{ site.siteUrl }}/feed/note/</id>
  {% if collections.stream_note.length %}
  <updated>{{ collections.stream_note[0].date | rfc3339 }}</updated>
  {% endif %}
  {% for post in collections.stream_note | head(20) %}
  <entry>
    <title>note — {{ post.date | htmlDateString }}</title>
    <link href="{{ site.siteUrl }}{{ post.url }}"/>
    <id>{{ site.siteUrl }}{{ post.url }}</id>
    <updated>{{ post.date | rfc3339 }}</updated>
    <content type="html"><![CDATA[{{ post.templateContent | safe }}]]></content>
  </entry>
  {% endfor %}
</feed>
