---
layout: base.njk
pageTitle: marginalia
---

{% set twoMonthsAgo = collections.stream | twoMonthsAgo %}

{% for post in collections.stream %}
  {% if post.date >= twoMonthsAgo %}
  <article class="post">
    <div class="post-meta">
      {% if post.data.title %}
        <a href="{{ post.url | url }}" class="post-title">{{ post.data.title }}</a>
        <time datetime="{{ post.date | htmlDateString }}">
          {{ post.date | dataLeggibile }} &middot; {{ post.date | ora }}
        </time>
      {% else %}
        <a href="{{ post.url | url }}" class="post-permalink">
          <time datetime="{{ post.date | htmlDateString }}">
            {{ post.date | dataLeggibile }} &middot; {{ post.date | ora }}
          </time>
        </a>
      {% endif %}
    </div>
    <div class="post-body">
      {% include "post-body.njk" %}
    </div>
  </article>
  {% endif %}
{% endfor %}
